################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KataChallenge/.vs/KataChallenge/v17/.suo
